.position-absolute {
    width: 250px;
    height: 250px;
}
.position-absolute > .move {
    position: absolute;
    left: 50px;
    top: 80px;
}

.position-relative {
    width: 250px;
    height: 250px;
}
.position-relative > .move {
    position: relative;
    left: 50px;
    top: 80px;
}

.position-fixed {
    width: 250px;
    height: 250px;
}
.position-fixed > .move {
    position: fixed;
    left: 50px;
    bottom: 40px;
}