.float > div {
    display: inline-block;
    width: 100px;
    height: 100px;
}
.float > .left {
    float: left;
}
.float > .right {
    float: right;
}

.zindex {
    position: relative;
    width: auto; height: 160px;
}
.zindex > .z1 {
    width: 80px; height: 80px;
    z-index: 1;
    position: absolute;
    left: 0px; top: 0px;
    background-color: cadetblue;
}
.zindex > .z2 {
    width: 80px; height: 80px;
    z-index: 2;
    position: absolute;
    left: 30px; top: 30px;
    background-color: rgb(77, 230, 236);
}
.zindex > .z3 {
    width: 80px; height: 80px;
    z-index: 3;
    position: absolute;
    left: 60px; top: 60px;
    background-color: rgb(9, 243, 251);
}
