/* 모든 태그의 스타일 속성을 초기화 */
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v75/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1n-q_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}
.icon {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
body {
    background-color: rgb(245, 246, 247);
}
.container-center {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
}
.logo-title {
    margin-top: 4em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.logo-title .logo {
    font-family: 'HY견고딕';
    font-weight: bold;
    font-size: 48px;
    color: rgb(0, 200, 80);
}
.input-form-group {
    margin-bottom: 1em;
}
.input-group {
    display: inline-block;
    width: 100%;
    margin-bottom: 0.6em;
}
.input-group label,
.input-group input,
.input-group select {
    display: inline-block;
    width: 100%;
}
.input-group label {
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 0.1em;
}
.input-form {
    display: inline-block;
    width: 100%;
    padding: 0.6em;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(240, 240, 240);
}
.input-form input,
.input-form select {
    display: inline-block;
    border-style: none;
    outline-style: none;
}
.input-icon {
    display: inline-block;
    width: 100%;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(240, 240, 240);
}
.input-icon .input-form {
    float: left;
    width: 75%;
    border-style: none;
}
.input-icon span {
    display: block;
    float: right;
    background-color: white;
    position: relative;
    top: 8px;
    color:rgb(129, 129, 129);
    padding-right: 0.5em;
}
.input-inline input,
.input-inline select,
.input-inline button {
    display: inline-block;
    width: 32.5%;
    padding: 0.8em;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(240, 240, 240);
    outline-style: none;
}
.input-inline .inline-w2 {
    width: 66.3%;
}
.disabled {
    background-color: rgb(245, 246, 247);
}
button {
    border-style: none;
    border-width: 0px;
    padding: 0.5em;
}
.button-form {
    margin-top: 2em;
    margin-bottom: 2em;
}
.button-form button {
    display: block;
    width: 100%;
    padding: 1em;
}
.btn-green {
    background-color: rgb(0, 200, 80);
    color: white;
    font-weight: bold;
}

footer {
    text-align: center;
    margin-bottom: 1em;
}
footer a {
    text-decoration: none;
    color: rgb(129, 129, 129);
}
.policy-link,
.corp {
    font-size: 0.6em;
}