<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bookmarkMapper">
    <select id="getId" resultType="int">
        SELECT NVL(max(id), 0) + 1 FROM BOOKMARK_T
    </select>
    <select id="selectId" parameterType="int" resultType="model.dto.BookmarkDTO">
        SELECT id, url, name FROM BOOKMARK_T WHERE id = #{id}
    </select>
    <select id="selectAll" resultType="model.dto.BookmarkDTO">
        SELECT id, url, name FROM BOOKMARK_T ORDER BY id ASC
    </select>
    <insert id="insert" parameterType="model.dto.BookmarkDTO">
        INSERT INTO BOOKMARK_T VALUES(#{id}, #{url}, #{name})
    </insert>
    <update id="update" parameterType="model.dto.BookmarkDTO">
        UPDATE BOOKMARK_T
           SET id = #{url}
             , url = #{url}
             , name = #{name}
         WHERE id = #{id}
    </update>
    <delete id="delete" parameterType="model.dto.BookmarkDTO">
        DELETE FROM BOOKMARK_T WHERE id = #{id}
    </delete>
</mapper>